@import '../../../CustomStyle/variables';

.settings-device-status-widget {
    height: 100%;
    width: 100%;
    //margin-top: $moduleSpacing;
    //background-color: teal;
    @media (max-width: $contentResizePrimary) {
        margin-top: 100px;

        .device-uc-engines-area {
            width: 100%;
            padding: 0;
        }
      }
      
    #ip-table-area {
        width: 100%;
        //background-color: green;
    }

    #device-status-area {
        width: 100%;
        //background-color: maroon;
    }

	.ui-control-area {
		width: 50%;
        padding: $moduleSpacing;
	}
}