@import '../../../CustomStyle/variables';

.settings-log-widget {
    .ui-control-area {
        padding: $moduleSpacing;
        width: 100%;
    }

    @media (max-width: $contentResizePrimary) {
        margin-top: 100px;

        .ui-control-area {
            width: 100%;
        }
      }

    .device-log-area {
        width: 100%;
    }

    .option-button-area {
        width: 100%;
        display: flex;
        justify-content: end;
        padding: $moduleSpacing;
    }

    .option-button {
        width: 150px;
        height: $standardButtonHeight;
        margin-left: $moduleSpacing;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .option-flex-item {
        padding-right: $elementSpacing;
    }

    #settings-log-area {
        padding: $elementSpacing;
    }
}