@import '../../../CustomStyle/variables';

.shade-inputs-widget {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    //font-size: xx-large;

    .shade-input-area {
        height: 540px;
        width: 540px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 60px;
    }

    @media (max-width: $contentResizePrimary) {        
        .shade-input-area {
            height: 100%;
            margin-top: 100px;
            margin-bottom: 100px;
        }
    }

    .rotate-backward-90 {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg) !important;
    }

    .rotate-forward-90 {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg) !important;
    }

    .menu-button {
        min-width: 160px;
    }
}