@import '../../../CustomStyle/variables';

.source-control-widget {
	display: flex;
	justify-content: center;
	align-items: center;

	.box-button-text {
		text-align: center;
		//margin: auto;
	}

	.box-button-icon {
        display: flex;
        justify-content: space-between;
		align-items: center;
        width: 100%;
		height: 60px;
	}

	.box-button-icon i {
		padding: $moduleSpacing;
	}

	// .cancel-box {
	// 	height: 45px;
	// 	width: 45px;
	// 	background-color: rgba(0, 0, 0, 0.5);
	// 	z-index: 3;
	// 	border-radius: $standardElementBorderRadius;
	// 	border-style: solid;
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// 	display: none;
	// }

	.button-toggle {
		box-shadow: $onSurfacePressedShadow !important;
	}
}
