@import '../../../CustomStyle/variables';

.camera-presets-widget {
    .preset-list-dynamic {
        display: none;
      }

      .camera-label {    
        padding: 0 $standardInElementPadding;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }  
}