@import '../../CustomStyle/variables';

#main-page {
	// BEGIN::CHANGEAREA - your page level styles go here
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: $backgroundColour;
	backdrop-filter: $surfaceBlur;
	user-select: none;

	img {
		// user-drag: none;
		-moz-user-drag: none;
		-webkit-user-drag: none;
	}

	.module-title-space {
		margin-bottom: $moduleSpacing;
	}

	.button {
		cursor: pointer;
		border-radius: $standardElementBorderRadius;
		text-align: left;
		transition: background-color 0.5s, color 0.5s, fill 0.5s;
		box-shadow: $onSurfaceShadow;
		background-color: $elevatedSurfaceColour;
		display: flex;
		align-items: center;
		justify-content: center;
		fill: $onPrimaryColour;
	}

	.button:active {
		background-color: $primaryVariant;
		color: $onPrimaryVariant;
		box-shadow: $onSurfacePressedShadow;
		fill: $onPrimaryVariant;
	}

	.touched {
		background-color: $primaryVariant;
		color: $onPrimaryVariant;
		box-shadow: $onSurfacePressedShadow;
		fill: $onPrimaryVariant;
	}

	.box-button {
		height: $boxButtonSize;
		width: $boxButtonSize;
		margin: $elementSpacing;
		padding: $standardInElementPadding;
		align-items: start;
		justify-content: space-between;
		flex-direction: column;
	}

	.icon-circle {
		margin: 0 $elementSpacing;
		height: $standardButtonHeight;
		width: $standardButtonHeight;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
	}

	.content-area {
		width: 100%;
		height: 94%;
		overflow: hidden;
		margin: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.ui-control-area {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
		margin: auto;
	}

	// .main-ui-control-area {
	// 	flex:1;
	// }

	.ui-control-area-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
		z-index: 10;
		backdrop-filter: blur(6px);
		align-items: center;
		flex-direction: column;
		padding: 20px;
	}

	.diverse-control-group {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		
		@media (max-width: 1550px) {
			flex-direction: column;
		  }
	}

	.preset-box-container {
		width: $standardModuleWidth;
	}

	.input-box-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.preset-list {
		height: 350px;
	}

	.menu-header-space {
		display: flex;
		justify-content: space-between;
		margin: auto;
		margin-bottom: $moduleSpacing;
	}

	.menu-button-space {
		display: flex;
		justify-content: space-between;
		// margin: auto;
		// min-width: 360px;
		width: 100%;
	}

	.menu-button {
		height: $standardButtonHeight;
		width: 45%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@media (max-width: 1550px) {
		.content-area {
			overflow-y: auto;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: start;
			padding-top: $moduleSpacing;
			padding-bottom: $moduleSpacing;
			height: 92%;
		}

		.ui-control-area {
			width: 80%;
			flex: none;
			height: auto;
			margin-bottom: $moduleSpacing;
		}

		.preset-box-container {
			width: 90%;
			margin: auto;
		}

		.slider-input-area {
			width: 90%;
		}
	}

	ch5-template {
		width: 100%;
		margin: auto;
		//height: 100%;
	}

	.unclickable {
		pointer-events: none;
	}

	/* 
    ----------------- Alter the scrollbar ----------------- 
  */
	::-webkit-scrollbar {
		width: 4px;
		height: 0;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}
	::-webkit-scrollbar-thumb {
		background: #888;
		border: none;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}

	/* 
    ----------------- Alter Sliders ----------------- 
  */
	.range-slider {
		position: relative;
		width: $standardSliderLength;
		height: 60px;
	}

	.range-slider_input {
		position: absolute;
		top: 50%;
		z-index: 3;
		transform: translateY(-50%);
		appearance: none;
		width: 320px;
		opacity: 0;
	}

	.range-slider_input::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 40px;
		height: 40px;
		cursor: pointer;
		border-radius: 50%;
		opacity: 0;
	}

	.range-slider_input::-moz-range-thumb {
		width: 40px;
		height: 40px;
		cursor: pointer;
		border-radius: 50%;
		opacity: 0;
	}

	.range-slider_thumb {
		width: 44px;
		height: 44px;
		border: 0.4vmin solid $primaryVariant;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		background-color: $onPrimaryColour;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $onSecondaryColour;
		z-index: 2;
		box-shadow: 0 0 12px black;
	}

	.range-slider_line {
		height: 4px;
		width: 100%;
		background-color: $onPrimaryColour;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		position: absolute;
		z-index: 1;
		border-radius: 2px;
	}

	.range-slider_line-fill {
		position: absolute;
		height: 8px;
		width: 0;
		background-color: $primaryVariant;
		border-radius: 4px;
		top: -2px;
		box-shadow: $sliderHighlight;
	}

	.slider-input-area {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		//width: 100%;
		margin: auto;
	}

	.slider-scalable {
		transition: transform 0.5s;
		transform: translateY(-50%) translateX(-50%) scale(0.5);
	}

	.slider-scalable.active {
		transition: transform 0.2s;
		transform: translateY(-50%) translateX(-50%) scale(1);
	}

	.slider-scalable.active-above {
		transition: transform 0.2s;
		transform: translateY(-100%) translateX(-50%) scale(1);
	}

	.thumb-text {
		transition: opacity 0s;
		font-weight: 700;
		font-size: small;
		opacity: 0;
	}

	/* 
    	----------------- Alter Presets ----------------- 
  	*/
	.label-icon-area {
		display: none;
		align-items: center;
		width: 100%;
		justify-content: end;
		padding-right: 20px;
	}

	.list-button {
		height: $standardButtonHeight;
		margin-bottom: $elementSpacing;
	}

	.delete-icon {
		pointer-events: all;
		margin-left: $elementSpacing;
		padding: $elementSpacing;
	}

	.delete-icon:active {
		transform: scale(0.95);
	}

	.highlighted {
		//border: 2px solid #ffffff;
		transform: scale(1.2);
		animation: wiggle 0.3s infinite;
		transform-origin: center;
	}

	@keyframes wiggle {
		0%,
		100% {
			transform: rotate(0deg);
		}
		25% {
			transform: rotate(1deg);
		}
		50% {
			transform: rotate(0deg);
		}
		75% {
			transform: rotate(-1deg);
		}
	}

	.display-area {
        width: 100%;
        height: 500px;
        background-color: rgba($color: #000000, $alpha: 0.3);
		box-shadow: $onSurfacePressedShadow;
		overflow-y: auto;
    }

	.list-item {
		height: $standardButtonHeight;
		//background-color: teal;
		margin: $elementSpacing;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.list-item-text {
		margin-left: $elementSpacing;
	}

	.list-item-icon-group {
		margin-right: $elementSpacing;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.list-item-icon {
		height: 44px;
		width: 44px;
		margin-right: $elementSpacing;
		//background-color: red;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.list-item-icon:active {
		background-color: $primaryVariant;
		color: $onPrimaryVariant;
	}
}
