@import '../../../CustomStyle/variables';

.status-bar-widget {
	height: 12vh;
	color: $onPrimaryColour;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 $standardInElementPadding;

	.logo {
		transform: scale(0.7);
	}

	.container {
		display: flex;
		width: 100%;
		max-width: 100%;
	}

	.column {
		flex: 1;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}

	.logo-column {
		justify-content: center;
		align-items: center;
	}

	.row {
		width: fit-content;
		flex: 1;
		flex-wrap: nowrap;
	}

	// .date-text {
	// 	margin: 0;
	// }

	// .time-text {
	// 	flex: 0 0 auto;
	// 	padding-right: 0;
	// 	width: auto;
	// 	margin: 0;
	// }

	// .period-text {
	// 	padding-left: 0;
	// 	position: relative;
    //     left: -54px;
    //     top: -10px;
	// 	//margin: 0;
	// }

	// .mode-text {
	// 	margin: 0;
	// }

	// .roomname-text {
	// 	margin: 0 0 0 auto;
	// }

	.right-column {
		text-align: right;
		align-items: flex-end;
	}
}
