@import '../../../CustomStyle/variables';

.control-bar-widget {
	//padding-top: 10px;
	height: 14vh;
	width: 100%;
	overflow: hidden;
	//position: fixed;
    display: flex;
    align-items: center;
	bottom: 0;
	width: 100%;
	//background-color: teal;
	padding: $elementSpacing;
    color: $onPrimaryColour;

	.logo {
		max-height: 6vh;
		max-width: 25vmin;
		justify-content: center;
		align-content: center;
	}

	.logo-area {
		display: flex;
		opacity: 40%;
	}

	.logo-text {
		justify-content: end;
		padding-left: 0;
		font-size: 1rem;
		padding-top: $moduleSpacing;
		text-align: end;
		margin: 0;
		//color: $iconTextColour;
		font-style: italic;
	}

	.control-bar {
		display: grid;
		align-items: center;
		//height: 10vh;
	}

	.footer-container {
		//margin: 2rem;
		display: flex;
		max-width: 100%;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.column {
		flex: 1;
		box-sizing: border-box;
		display: flex;
	}

	.right-column {
		align-items: flex-end;
		justify-content: end;
		margin-right: 4vmin;
	}

	.footer-icon {
		font-size: 4vmin;
	}

	// .standard-footer-icon {
	// 	//color: $iconTextColour;
	// }

	.miccontrols {
		display: flex;
		margin-left: 4vmin;
		justify-content: center;
		align-items: center;
	}

	.micmute-icon {
		margin-right: 2vmin;
		//color: $iconTextColour;
	}

	.volcontrols {
		display: flex;
		align-items: center;
		//margin: 0 2rem 0 auto;
	}

	.volmute-icon {
		margin-right: 4vmin;
		// color: $iconTextColour;
	}

	.volume-slider_thumb {
		width: 5vmin;
		height: 5vmin;
		border: 0.4vmin solid #303030ba;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 50%;
		opacity: 1;
		transform: translateY(-50%) translateX(-50%);
		background-color: #424242; //e8;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		font-size: small;
		color: #ffffff;
		z-index: 2;
		//backdrop-filter: $bgBlur;
		//box-shadow: $fgContainerShadow;
	}

	// .volume-slider {
	// 	width: 40vmin;
	// }
}
